<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="running.business.mapper.RunOrderMapper" >
  <resultMap id="BaseResultMap" type="com.running.business.pojo.RunOrder" >
    <constructor >
      <idArg column="orderid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="did" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goods" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="source_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="source_remark_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="source_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="target_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="target_remark_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="target_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="require_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="time_long" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="amount" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="fee" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="distance" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="source_longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="source_latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="recv_longitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="recv_latitude" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="recv_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="target_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="finish_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderid, uid, did, type, goods, source_address, source_remark_address, source_phone, 
    target_address, target_remark_address, target_phone, remark, require_time, time_long, 
    amount, fee, distance, source_longitude, source_latitude, recv_longitude, recv_latitude, 
    status, add_time, update_time, recv_time, target_time, finish_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.running.business.pojo.RunOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from run_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from run_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from run_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.running.business.pojo.RunOrderExample" >
    delete from run_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.running.business.pojo.RunOrder" >
    insert into run_order (orderid, uid, did, 
      type, goods, source_address, 
      source_remark_address, source_phone, target_address, 
      target_remark_address, target_phone, remark, 
      require_time, time_long, amount, 
      fee, distance, source_longitude, 
      source_latitude, recv_longitude, recv_latitude, 
      status, add_time, update_time, 
      recv_time, target_time, finish_time
      )
    values (#{orderid,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{did,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{goods,jdbcType=VARCHAR}, #{sourceAddress,jdbcType=VARCHAR}, 
      #{sourceRemarkAddress,jdbcType=VARCHAR}, #{sourcePhone,jdbcType=VARCHAR}, #{targetAddress,jdbcType=VARCHAR}, 
      #{targetRemarkAddress,jdbcType=VARCHAR}, #{targetPhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{requireTime,jdbcType=TIMESTAMP}, #{timeLong,jdbcType=BIGINT}, #{amount,jdbcType=DOUBLE}, 
      #{fee,jdbcType=DOUBLE}, #{distance,jdbcType=DOUBLE}, #{sourceLongitude,jdbcType=VARCHAR}, 
      #{sourceLatitude,jdbcType=VARCHAR}, #{recvLongitude,jdbcType=VARCHAR}, #{recvLatitude,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{recvTime,jdbcType=TIMESTAMP}, #{targetTime,jdbcType=VARCHAR}, #{finishTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.running.business.pojo.RunOrder" >
    insert into run_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="did != null" >
        did,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="sourceAddress != null" >
        source_address,
      </if>
      <if test="sourceRemarkAddress != null" >
        source_remark_address,
      </if>
      <if test="sourcePhone != null" >
        source_phone,
      </if>
      <if test="targetAddress != null" >
        target_address,
      </if>
      <if test="targetRemarkAddress != null" >
        target_remark_address,
      </if>
      <if test="targetPhone != null" >
        target_phone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="requireTime != null" >
        require_time,
      </if>
      <if test="timeLong != null" >
        time_long,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="sourceLongitude != null" >
        source_longitude,
      </if>
      <if test="sourceLatitude != null" >
        source_latitude,
      </if>
      <if test="recvLongitude != null" >
        recv_longitude,
      </if>
      <if test="recvLatitude != null" >
        recv_latitude,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="recvTime != null" >
        recv_time,
      </if>
      <if test="targetTime != null" >
        target_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="sourceAddress != null" >
        #{sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="sourceRemarkAddress != null" >
        #{sourceRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="sourcePhone != null" >
        #{sourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="targetAddress != null" >
        #{targetAddress,jdbcType=VARCHAR},
      </if>
      <if test="targetRemarkAddress != null" >
        #{targetRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="targetPhone != null" >
        #{targetPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requireTime != null" >
        #{requireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeLong != null" >
        #{timeLong,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=DOUBLE},
      </if>
      <if test="sourceLongitude != null" >
        #{sourceLongitude,jdbcType=VARCHAR},
      </if>
      <if test="sourceLatitude != null" >
        #{sourceLatitude,jdbcType=VARCHAR},
      </if>
      <if test="recvLongitude != null" >
        #{recvLongitude,jdbcType=VARCHAR},
      </if>
      <if test="recvLatitude != null" >
        #{recvLatitude,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recvTime != null" >
        #{recvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetTime != null" >
        #{targetTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.running.business.pojo.RunOrderExample" resultType="java.lang.Integer" >
    select count(*) from run_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update run_order
    <set >
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.goods != null" >
        goods = #{record.goods,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceAddress != null" >
        source_address = #{record.sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceRemarkAddress != null" >
        source_remark_address = #{record.sourceRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sourcePhone != null" >
        source_phone = #{record.sourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.targetAddress != null" >
        target_address = #{record.targetAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.targetRemarkAddress != null" >
        target_remark_address = #{record.targetRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.targetPhone != null" >
        target_phone = #{record.targetPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.requireTime != null" >
        require_time = #{record.requireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.timeLong != null" >
        time_long = #{record.timeLong,jdbcType=BIGINT},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
      <if test="record.fee != null" >
        fee = #{record.fee,jdbcType=DOUBLE},
      </if>
      <if test="record.distance != null" >
        distance = #{record.distance,jdbcType=DOUBLE},
      </if>
      <if test="record.sourceLongitude != null" >
        source_longitude = #{record.sourceLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceLatitude != null" >
        source_latitude = #{record.sourceLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.recvLongitude != null" >
        recv_longitude = #{record.recvLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.recvLatitude != null" >
        recv_latitude = #{record.recvLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recvTime != null" >
        recv_time = #{record.recvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.targetTime != null" >
        target_time = #{record.targetTime,jdbcType=VARCHAR},
      </if>
      <if test="record.finishTime != null" >
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update run_order
    set orderid = #{record.orderid,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=INTEGER},
      did = #{record.did,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      goods = #{record.goods,jdbcType=VARCHAR},
      source_address = #{record.sourceAddress,jdbcType=VARCHAR},
      source_remark_address = #{record.sourceRemarkAddress,jdbcType=VARCHAR},
      source_phone = #{record.sourcePhone,jdbcType=VARCHAR},
      target_address = #{record.targetAddress,jdbcType=VARCHAR},
      target_remark_address = #{record.targetRemarkAddress,jdbcType=VARCHAR},
      target_phone = #{record.targetPhone,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      require_time = #{record.requireTime,jdbcType=TIMESTAMP},
      time_long = #{record.timeLong,jdbcType=BIGINT},
      amount = #{record.amount,jdbcType=DOUBLE},
      fee = #{record.fee,jdbcType=DOUBLE},
      distance = #{record.distance,jdbcType=DOUBLE},
      source_longitude = #{record.sourceLongitude,jdbcType=VARCHAR},
      source_latitude = #{record.sourceLatitude,jdbcType=VARCHAR},
      recv_longitude = #{record.recvLongitude,jdbcType=VARCHAR},
      recv_latitude = #{record.recvLatitude,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      recv_time = #{record.recvTime,jdbcType=TIMESTAMP},
      target_time = #{record.targetTime,jdbcType=VARCHAR},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.running.business.pojo.RunOrder" >
    update run_order
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="sourceAddress != null" >
        source_address = #{sourceAddress,jdbcType=VARCHAR},
      </if>
      <if test="sourceRemarkAddress != null" >
        source_remark_address = #{sourceRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="sourcePhone != null" >
        source_phone = #{sourcePhone,jdbcType=VARCHAR},
      </if>
      <if test="targetAddress != null" >
        target_address = #{targetAddress,jdbcType=VARCHAR},
      </if>
      <if test="targetRemarkAddress != null" >
        target_remark_address = #{targetRemarkAddress,jdbcType=VARCHAR},
      </if>
      <if test="targetPhone != null" >
        target_phone = #{targetPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requireTime != null" >
        require_time = #{requireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeLong != null" >
        time_long = #{timeLong,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=DOUBLE},
      </if>
      <if test="sourceLongitude != null" >
        source_longitude = #{sourceLongitude,jdbcType=VARCHAR},
      </if>
      <if test="sourceLatitude != null" >
        source_latitude = #{sourceLatitude,jdbcType=VARCHAR},
      </if>
      <if test="recvLongitude != null" >
        recv_longitude = #{recvLongitude,jdbcType=VARCHAR},
      </if>
      <if test="recvLatitude != null" >
        recv_latitude = #{recvLatitude,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recvTime != null" >
        recv_time = #{recvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="targetTime != null" >
        target_time = #{targetTime,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.running.business.pojo.RunOrder" >
    update run_order
    set uid = #{uid,jdbcType=INTEGER},
      did = #{did,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      goods = #{goods,jdbcType=VARCHAR},
      source_address = #{sourceAddress,jdbcType=VARCHAR},
      source_remark_address = #{sourceRemarkAddress,jdbcType=VARCHAR},
      source_phone = #{sourcePhone,jdbcType=VARCHAR},
      target_address = #{targetAddress,jdbcType=VARCHAR},
      target_remark_address = #{targetRemarkAddress,jdbcType=VARCHAR},
      target_phone = #{targetPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      require_time = #{requireTime,jdbcType=TIMESTAMP},
      time_long = #{timeLong,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DOUBLE},
      fee = #{fee,jdbcType=DOUBLE},
      distance = #{distance,jdbcType=DOUBLE},
      source_longitude = #{sourceLongitude,jdbcType=VARCHAR},
      source_latitude = #{sourceLatitude,jdbcType=VARCHAR},
      recv_longitude = #{recvLongitude,jdbcType=VARCHAR},
      recv_latitude = #{recvLatitude,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      recv_time = #{recvTime,jdbcType=TIMESTAMP},
      target_time = #{targetTime,jdbcType=VARCHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>